// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$orange: #f7941d; // orange/ login button
$hp-banner: #261c02; // homepage banner background colour
$underline: #d4d2cc; // mobile nav underline colour
$red: #ef4135; // red used across the site
$yellow: #ffc425; // footer yellow
$light-grey: #f9f9f9; // light grey - footer background
$grey-border: #ececec; // footer border
$grey: #c9c8c6; // grey placeholder