// FORGOT PASSWORD STYLING
// PARTIALS/_FORGOT_PASS.SCSS

.forgotPassword {
	margin: 0 0 300px 0;
	font-size: 14px;
}
.forgotPassword h2 {
	font-size: 36px;
}
.forgotPassword form input {
	width: 300px;
	padding: 11px 2px;
}
.forgotPassword form .form-item label {
	width: 160px;
	float: left;
	padding: 11px 0;
}
.forgotPassword form input.error {
	border: 1px solid $red;
	background: #fdecea;
	opacity: 1!important;
	p.required_text {
		display: none;
	}
}
.forgotPassword form label.error {
	display: none!important;
	width: 0;
}
.forgotPassword form button {
	width: 304px;
	margin: 10px 0 0 160px;
}
a.back-home {
	color: $orange;
	text-decoration: underline;
	margin-left: 160px;
}
.site-container a.back-home-thanks {
	color: $orange;
	text-decoration: underline;
	margin-left: 0;
}
.forgot-links {
	padding-top: 10px;
}
@include respond-to(mobile) {
	.forgotPassword {
		width: 92%;
		padding: 0;
		margin: 0 auto 150px;
	}
	.site-container .forgotPassword h2 {
		font-size: 20px;
	}
	.forgotPassword form input {
		width: 95%;
	}
	.forgotPassword form button {
		width: 97%;
		margin: 10px 0 0 0;
	}
	a.back-home {
		margin-left: 0;
	}

}