// theundierun.co.uk
// Main stylesheet
// main.scss

html,
body {
   margin:0;
   padding:0;
   height:100%;
   margin-top: 0!important;
}
// Site container styling
div.site-container {
	width: 1220px;
	margin: 0 auto;	
	position: relative;
	min-height:100%;
	font-family: $font_body_copy;
}
div.site-container h2 {
	color: $orange;
}
div.site-container h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	margin: 40px 0 0 0;
	@include font_title_copy;
}
div.site-container a {
	text-decoration: none;
}
div.site-container .main_content {
	padding:0 0 195px 0;
}
div.hp-container .main_content {
	padding:0 0 195px 0;
}
div.site-container nav ul {
	padding: 0;
	margin: 0;
}
.section_inner {
	padding: 0 140px;
}
.show_desktop {
	display: block!important;
}
.show_mobile {
	display: none!important;
}
.hide_tablet {
	display: block!important;
}
.clear {
	clear: both;
}
.siteCTA {
	background: $orange;
	text-transform: uppercase;
	padding: 15px 38px;
	@include font_title_copy;
	a {
		color: $white!important;
	}
}
// custom select borders
select.border {
	border: 1px solid $grey-border;	
}

// form error messages



// generic form styling
.site-container form input, .site-container form select {
	background: $light-grey;
	cursor: pointer;
}
.site-container form input, .site-container form select.border {
	-webkit--webkit-appearance: none;
	-webkit-appearance: none;
    -webkit-border-radius:0;     
	-moz--webkit-appearance: none;
	-o--webkit-appearance: none;
	border: 1px solid $grey-border;	
}
.desktop {
	display: block!important;
}
.tablet {
	display: none!important;
}

@include respond-to(tablet) { 
 	div.site-container {
 		width: 100%;
 		min-width: 655px;
 	}
 	.section_inner {
		padding: 0 3%;
	}
	.tablet {
		display: block!important;
	}
	.desktop {
		display: none!important;
	}
 }
@include respond-to(mobile) { 
	.desktop, .show_desktop {
		display: none!important;
	}
	.show_mobile {
		display: block!important;
	}
	.tablet {
		display: none!important;
	}
	div.site-container {
		max-width: 100%;
		min-width: 100%;
	}
	div.site-container .main_content {
		padding: 0;
	}
	.section_inner {
		padding: 0;
	}
	div.site-container h2 {
		font-size: 22px;
	}
	div.site-container h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 20px 0 0 0;
	}
	.siteCTA {
		margin: 10px 0;
	}
}