// THANK YOU PAGE STYLING
// _THANKS.SCSS

.thank_you_inner  {
	width: 480px;
	padding: 40px 0 300px 0;
	position: relative;
}
.thank_you_inner h2 {
	margin: 0 0 25px 0;
	font-size: 50px;
}
.thank_you_inner ul
.thank_you_inner .regCTA {
	width: 265px;	
	@include font_title_copy;
}
.thank_you_inner div.thanksUnderline {
	width: 100%;
	height: 1px;
	background: $grey-border;
	margin: 20px 0;
}
.thank_you_inner .spread-social {
	margin: 30px 0 20px 0 !important;
}
.thank_you_inner .spread-social ul li.twitter_box {
	background-position: -85px 0px;
}
.thank_you_inner .spread-social ul li.fb_box {
	background-position: -41px 0;
}

.thank_you_inner .spread-social ul li.web_box {
background-position: 0px 0px;
}
.follow_us ul {
	padding: 0;
	margin: 0;
}
.follow_us ul li {
	display: block;
	float: left;
	margin: 0 10px;
	&:first-child {
		margin-left: 0;
	}
}
.thank_you_inner .regCTA {
	padding: 15px 0;
	width: 340px;
	text-align: center;
}

@include respond-to(tablet) { 
	.thank_you_inner .siteCTA {
		width: 55%;
		text-align: center;
	}
	.thank_you_inner .spread-social {
		margin: 20px 0 20px 0 !important;
		overflow: hidden;
	}
}
@include respond-to(mobile) { 
	.thank_you_inner {
		width: 94%;
		padding: 0 3%;
		font-size: 14px;
		margin-bottom: 40px;
	}
	.thank_you_inner .regCTA {
		width: 92%;	
		text-align: center;
		line-height: 20px;
		margin: 0;
		padding: 10px 4%;
	}
	.follow_us ul li {
		width: 65%;
		max-width: 190px;
		float: none;
		margin: 10px 0;
		&:first-child {
			margin-left: 0;
		}
	}

}